main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marginContainer{
    width: 85%;
    /*display: flex;*/
    /*flex-direction: column;*/
}
/* section 1 */
.contact-divisor-section-1 .container {
    width: 100%;
}
.contact-divisor-section-1 img{
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 10%;

}
.contact-divisor-section-2 {
    min-width: 300px;
    margin: 50px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-divisor-section-2 article{
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
}
.contact-divisor-section-2 h2{
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: bold;

    text-align: center;
}
.contact-divisor-section-2 p {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: normal;
    color: var(--first-color-blue);

    width: 75%;
}
.contact-divisor-section-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.contact-divisor-section-3 article{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-divisor-section-3 article h2{
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
}
.contact-divisor-section-3 article ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.contact-divisor-section-3 article ul li a{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: normal;
    color: var(--third-color-darkgrey);
}


/* map form container */
.mapFormContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 75px 0;
}
.mapFormContainer .formContainer {
    min-width: 40%;
    margin: 40px 0;
}
.mapFormContainer .formContainer article{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.mapFormContainer .formContainer #frmContact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mapFormContainer .formContainer input {
    max-width: 400px;
    height: 50px;
    padding: 15px;
    color: rgb(85, 85, 85);
    letter-spacing: 1px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;

}
.mapFormContainer .formContainer textarea{
    max-width: 400px;
    letter-spacing: 1px;
    padding: 15px;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;
}
.mapFormContainer .formContainer button{
    width: 200px;
    background: rgb(34, 34, 34);
    color: #fff;
    border-radius: 22px;
    height: 46px;
    border: none;
    cursor: pointer;
    transition: 300ms;
    font-size: 18px;
    margin: 15px 0;
}
.mapFormContainer .formContainer button:hover {
    background: #e65540;
}