/* section 1 */
.divisor-section-1{
    position: relative;
    display: flex;
    align-items: center;
}
.divisor-section-1 img{
    width: 100%;
}
.divisor-section-1 article {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.divisor-section-1 article header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    /*color: var(--seccond-color-green);*/
    /*color: var(--first-color-blue);*/
    color: #000;
    /*text-shadow: 2px 2px 4px #000;*/

}
.divisor-section-1 article p{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 7px;
    /*color: var(--first-color-blue);*/
    color: var(--first-color-blue);
    /*text-shadow: 2px 2px 4px #000;*/

}
.divisor-section-1 article a {
    width: 160px;
    height: 60px;
    margin-top: 25px;
    cursor: pointer;
}
.divisor-section-1 article a button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background: var(--button-background-purple);
    cursor: pointer;
}

.divisor-section-1 article a button:hover{
    width: 100%;
    height: 100%;
    border: none;
    background: var(--button-background-purple-hover);
}
.divisor-section-1 article a button span{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    letter-spacing: 4px;
}

/* divisor 2 */
.divisor-section-2{
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.divisor-section-2 .container{
    height: 80%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*gap: 30px;*/
}
.divisor-section-2 .container .articleContainer{
    position: relative;
}
.divisor-section-2 .container .articleContainer article{
    display: flex;
    align-items: center;
}
.divisor-section-2 .container .articleContainer article header{
    position: relative;
    right: -30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.divisor-section-2 .container .articleContainer article header h2{
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: bold;
}
.divisor-section-2 .container .articleContainer article header a button{
    font-family: "Open Sans";
    background: none;
    border: none;
    color: #000;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    margin-left: 2px;
}
.divisor-section-2 .container .articleContainer article img{
    height: 450px;
}
.divisor-section-2 .container .top {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}
.divisor-section-2 .container .top .articleContainer article{
    margin-left: 100px;
}
.divisor-section-2 .container .bot{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 50px;
}
.divisor-section-2 .container .bot .articleContainer .first {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    position: relative;
    top: -50px;
}
.divisor-section-2 .container .bot .articleContainer .first header{
    width: 100%;
    right: 0;
}
.divisor-section-2 .container .bot .articleContainer .sec {
    position: relative;
    top: 50px;
}
.divisor-section-2 .container .bot .articleContainer .sec header h2{
    width: 255px;
}


@media only screen and (max-width: 1200px) {
    .divisor-section-1 img{
        height: 300px;
        object-fit: cover;
    }
    .divisor-section-1 article{
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

}
@media only screen and (max-width: 1000px) {
    .divisor-section-2 .container{
        gap: 50px;
    }
    .divisor-section-2 .container .bot {
        flex-direction: column;
    }
    .divisor-section-2 .container .bot .articleContainer .first,
    .divisor-section-2 .container .bot .articleContainer .sec {
        top: 0;
    }

}
@media only screen and (max-width: 800px) {
    .divisor-section-1 img{
        height: 400px;
        object-fit: cover;
    }
}