/* section 1 */
.divisor-section-1{
    position: relative;
    display: flex;
    align-items: center;
}
.divisor-section-1 img{
    width: 100%;
}
.divisor-section-1 article {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.divisor-section-1 article header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    /*color: var(--seccond-color-green);*/
    /*color: var(--first-color-blue);*/
    color: #000;
    /*text-shadow: 2px 2px 4px #000;*/

}
.divisor-section-1 article p{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 7px;
    /*color: var(--first-color-blue);*/
    color: var(--first-color-blue);
    /*text-shadow: 2px 2px 4px #000;*/

}

/* shop now button */
.shopNow{
    width: 160px;
    height: 60px;
    margin-top: 25px;
    cursor: pointer;
}
.shopNow button{
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background: var(--button-background-purple);
    cursor: pointer;
}

.shopNow button:hover{
    border: none;
    background: var(--button-background-purple-hover);
}
.shopNow button span{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    letter-spacing: 4px;
}

/* divisor 2 */
.divisor-section-2{
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.divisor-section-2 .container{
    height: 80%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*gap: 30px;*/
}
.divisor-section-2 .container .articleContainer{
    position: relative;
}
.divisor-section-2 .container .articleContainer article{
    display: flex;
    align-items: center;
}
.divisor-section-2 .container .articleContainer article header{
    position: relative;
    right: -30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.divisor-section-2 .container .articleContainer article header h2{
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: bold;
}
.divisor-section-2 .container .articleContainer article header a button{
    font-family: "Open Sans";
    background: none;
    border: none;
    color: #000;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    margin-left: 2px;
}
.divisor-section-2 .container .articleContainer article img{
    max-height: 450px;
    height: 100%;
}
.divisor-section-2 .container .top {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}
.divisor-section-2 .container .top .articleContainer article{
    margin-left: 100px;
}
.divisor-section-2 .container .bot{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 50px;
}
.divisor-section-2 .container .bot .articleContainer .first {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    position: relative;
    top: -50px;
}
.divisor-section-2 .container .bot .articleContainer .first header{
    width: 100%;
    right: 0;
}
.divisor-section-2 .container .bot .articleContainer .sec {
    position: relative;
    top: 50px;
}
.divisor-section-2 .container .bot .articleContainer .sec header h2{
    width: 255px;
}


/* divisor-section-3 */
.divisor-section-3{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    align-items: center;
    gap: 50px;

    background: var(--background-gray);
}
.divisor-section-3 > header h2{
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 900;
    color: #333;
}
.divisor-section-3 section{
    width: 100%;
}
.divisor-section-3 section article{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}
.divisor-section-3 section article img{
    aspect-ratio: 3/2;
    max-width: 720px;
    width: 100%;
}
.divisor-section-3 section article section{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.divisor-section-3 section article section header h2{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    color: var(--button-background-purple);
}
.divisor-section-3 section article section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.divisor-section-3 section article section .content p{
    text-align: center;
}




/* divisor-section-4 */
.divisor-section-4{
    margin: 50px 0;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divisor-section-4 .container{
    height: 90%;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.divisor-section-4 .container article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.divisor-section-4 .container article img.first {
    max-width: 120px;
}
.divisor-section-4 .container article img{
    max-width: 90px;
    width: 100%;
}
.divisor-section-4 .container article section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divisor-section-4 .container article section header{
    text-align: left;
    width: 100%;
}
.divisor-section-4 .container article section header h2{
    text-align: left;
    font-size: 35px;
    font-weight: 900;
    color: var(--button-background-purple);
}
.divisor-section-4 .container article section p{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;

    max-width: 275px;
    width: 100%;
}

/* divisor-section-5 */
.divisor-section-5{
    padding: 50px 0;
    min-height: 300px;
    background: var(--background-gray);

    display: flex;
    align-items: center;
    justify-content: center;

}
.divisor-section-5 video{
    max-width: 720px;
    width: 100%;
}

/* divisor-section-6 */
.divisor-section-6{
    min-height: 400px;
    padding: 50px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}
.divisor-section-6 section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 610px;
    width: 100%;
    justify-content: center;
}
.divisor-section-6 section img{
    width: 200px;
}
.divisor-section-6 header{
    display: flex;
    flex-direction: column;
}
.divisor-section-6 header h2{
    color: #000;
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 50px;
}
.divisor-section-6 header a{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(200deg, #574CF3 0%, #F00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 5px 0;
    transition: 500ms linear;
}
.divisor-section-6 header a:hover {
    background: linear-gradient(200deg, #F00 0%, #574CF3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* divisor-section-7 */
.divisor-section-7{
    min-height: 500px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor-section-7 .container{
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}
.divisor-section-7 .container > header h2{
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: bold;
}
.divisor-section-7 .container section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.divisor-section-7 .container section ul li {
    max-width: 300px;
}
.divisor-section-7 .container section ul li a article{
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.divisor-section-7 .container section ul li a article img{
    max-width: 250px;
    width: 100%;
}
.divisor-section-7 .container section ul li a article header{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.divisor-section-7 .container section ul li a article header p{
    font-family: "Open Sans";
    font-size: 16px;
    color: #274C5B;
}
.divisor-section-7 .container section ul li a article header h2 {
    font-family: "Open Sans";
    font-size: 16px;
    color: #000;
}
.divisor-section-7 .container section ul li a article header .price {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    color: #183daf;
}
.divisor-section-7 .container section ul li a:hover article header *{
    text-decoration: underline;
}


/* responsive */
@media only screen and (max-width: 1200px) {
    .divisor-section-1 img{
        height: 300px;
        object-fit: cover;
    }
    .divisor-section-1 article{
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    .divisor-section-4 .container {
        gap: 45px;
        justify-content: center;
    }

}
@media only screen and (max-width: 1000px) {
    .divisor-section-2 .container{
        gap: 50px;
    }
    .divisor-section-2 .container .bot {
        flex-direction: column;
    }
    .divisor-section-2 .container .bot .articleContainer .first,
    .divisor-section-2 .container .bot .articleContainer .sec {
        top: 0;
    }
    .divisor-section-2 .container .bot .articleContainer .sec{
        display: flex;
        flex-direction: column-reverse;
    }
    .divisor-section-2 .container .bot .articleContainer .sec header{
        margin-top: 15px;
        width: 75%;
        text-align: right;
        align-items: flex-end;
    }

}
@media only screen and (max-width: 800px) {
    .divisor-section-1 img{
        height: 400px;
        object-fit: cover;
    }
    .divisor-section-6{
        flex-direction: column;
    }
}